body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 960px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: .6em;
    padding-bottom: .6em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: .7em;
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 1.5em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 3em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: .2em auto
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 400;
    margin-bottom: 0;
}

#mainLeft {
    border-right: 1px solid lightgray;
 }

a:visited{
    color: blue;
}