body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: .3em;
    padding-bottom: .3em;
}

h2 {
    font-size: 1.5em;
    /* padding-bottom: .6em; */
}

main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 1.5em;
}

header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 1em 2em;
}

i {
    margin-right: .5em;
}

p {
    margin: 0.5em auto;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 400;
    margin-bottom: 0.5em;
}


#mainLeft {
    border-right: 1px solid lightgray;
 }

a:visited{
    color: blue;
}
b{
    margin-top: 0.1em;
}